#wrapper
{
	padding:0 0;
	height:330px;
	width:330px;
}
#joystick
{
	height:100%;
	width:100%;
	position: relative;
	background: #65a9d7; 
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(211, 211, 211)), to(rgb(246, 246, 246)));
	background: -moz-linear-gradient(top, rgb(211, 211, 211), rgb(246, 246, 246)); 
	background: -o-linear-gradient(top, rgb(211, 211, 211), rgb(246, 246, 246));
	border-radius : 50%  50%  50% 50% ;
	border: 1px;
	border-color: rgb(190, 190, 190);
	border-style:solid;
}
#body
{
	margin:0 0;
	padding:0 0;
	background:rgb(226, 226, 226);
}
#headline
{
	position:fixed;
	top:0;
	width:100%;
	padding:5px;
}
#logo
{
	height:50px;
}
.butt
{
	width:30%;
	height:30%;
	transition: 400ms ease;
	padding:0 0;
	text-align: center;
	/*border-radius :  15px 15px 0.2em 0.2em;*/
	border-top: 1px solid #96d1f80;
	/*background*/	
	background: #65a9d7; 
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(205, 205, 205)));
	background: -moz-linear-gradient(top, #ececec, rgb(205, 205, 205)); 
	background: -o-linear-gradient(top, #ececec, rgb(205, 205, 205));
	/*end_back*/
	text-shadow:1px 1px 0px #ffffff;
	border: 1px;
	border-color: rgb(184, 184, 184);
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	border-style:solid;
	color:#515151;
    font-family:Open Sans Bold, Arial Bold, Trebuchet MS Bold;
    font-size:120%;
}
.butt:hover
{
	border-color:rgb(0, 173, 190);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(236, 236, 236)), to(rgb(226, 226, 226)));
	background: -moz-linear-gradient(top, rgb(236, 236, 236), rgb(226, 226, 226)); 
	background: -o-linear-gradient(top, rgb(236, 236, 236), rgb(226, 226, 226));
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1;
	color:rgb(86, 156, 189);
}
.butt:active
{
	box-shadow:inset 0px 1px 0px 0px #000000);
	border-color:rgb(0, 173, 255);
	color:rgb(0, 173, 255);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(216, 216, 216)), to(rgb(236, 236, 236)));
	background: -moz-linear-gradient(top, rgb(216, 216, 216), rgb(236, 236, 236)); 
	background: -o-linear-gradient(top, rgb(216, 216, 216), rgb(236, 236, 236));
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); /* IE 5.5+*/
	-moz-opacity: 1; /* Mozilla 1.6 и ниже */
	-khtml-opacity: 1; /* Konqueror 3.1, Safari 1.1 */
	opacity: 1;
	box-shadow:inset 0px 0px 0px 1px #ffffff;
}

#butt_UP
{
	border-radius :  25% 25% 5% 5% ;
	position:absolute;
	left:50%;
	top:3%;
	margin-left: -15%;
}
#butt_DOWN
{
	border-radius : 5%  5%   25% 25%;
	position:absolute;
	left:50%;
	bottom:3%;
	margin-left: -15%;
}
#butt_LEFT
{
	border-radius :  25% 5%  5%  25%;
	position:absolute;
	left:3%;
	top:50%;
	margin-top: -15%;
}
#butt_RIGHT
{
	border-radius : 5%  25%  25% 5% ;
	position:absolute;
	right:3%;
	top:50%;
	margin-top: -15%;
}
#butt_CENTER
{
	border-radius : 50% 50%  50% 50%;
	position:absolute;
	left:50%;
	top:50%;
	margin-left: -15%;
	margin-top: -15%;
}

@media all and (orientation: landscape){
	#wrapper
	{
		position:fixed;
		right:0;
		top:50%;
	}
	#joystick
	{
		margin-left:-5%;
		margin-top:-50%;
	}
	#img
	{
		height:100%;
	}
}

@media all and (orientation: portrait){
	#wrapper
	{
		position:fixed;
		bottom:0;
		left:50%;
	}
	#joystick
	{
		margin-left:-50%;
		margin-top:-25%;
	}
	#img
	{
		width:100%;
	}
}

@media screen and (max-width:480px){
   #wrapper
   {
		height:200px;
		width:200px;
		font-size:8px;
   }
}

@media screen and (max-width:480px) and (orientation: portrait){
   #wrapper
   {
		height:200px;
		width:200px;
		font-size:8px;
   }
   #joystick
	{
		margin-top:-5%;
	}
}


